<main>
  <div class="container ">
    <h1 class="my-5">管理者メニュー</h1>
    <p>管理者のみがログインできます。</p>
    <%= link_to  "メールの一斉送信", admin_new_mail_path, class: "btn btn-primary btn-outline btn-sm" %>
  </div>
</main>