<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">ShareCards</h1>
      <p class="lead">ダウンロードカードを手軽に簡単生成</p>
      <p>「Share Card」はコンテンツをダウンロードできる機能を持たせたカードを自分で作ることが出来るサービスです。<br>登録できるコンテツは、音楽・画像・ゲームなどなんでも！<br>本や同人誌に気軽にコンテツを同封してみませんか？</p>
      <%#=link_to "カードを作る",contents_path,class: "btn btn-raised btn-primary"%>
      <%#=link_to "ダウンロードする(カードが必要です)",downloads_path,class: "btn btn-raised btn-primary"%>
    </div>
  </div>
</main>