<main>
  <div class="jumbotron jumbotron-fluid d-none d-md-block" style="background-image:url(<%= asset_path 'side-jumbotron.png' %>); height: 550px; background-position: center;">
    <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
      <h1>トピックス</h1>
    </div>
  </div>
  <div class="d-md-none" style="padding-top: 100px;">
    <div class="container">
      <h1 style="font-size: 40px;">トピックス</h1>
    </div>
  </div>
</main>