<main>
  <div class="jumbotron jumbotron-fluid d-none d-md-block" style="background-image:url(<%= asset_path 'side-jumbotron.png' %>); height: 550px; background-position: center;">
    <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
      <h1>トピックス</h1>
    </div>
  </div>
  <div class="d-md-none mb-5" style="padding-top: 50px;">
    <div class="container">
      <h1 style="font-size: 30px;">トピックス</h1>
    </div>
  </div>
  <div class="container">
    <h3>トピックス</h3>
    <section class="mb-3">
      <h4 class="font-weight-bold mb-3 border-bottom">2020/10/21 サービスをプレリリースしました</h4>
      <div class="row">
        <div class="col-md-5 mb-3">
          <%= image_tag "card_front.png", class: "img-thumbnail", style: "object-fit: contain; height: 200px;" %>
        </div>
        <div class="col-md-7">
          <p>
          share cardsページをご覧下さってありがとうございます。<br>
          これは、しゅう(Twitter:@shu__pf)が個人で作成したWEBサービスになります。<br><br>
          このサービスは、CDが中心になっている同人界隈で、クリエイターがどうしたらCDを残したまま安価にダウンロード形式でもコンテンツ配布出来るだろうか？という事を考え作ったサービスです。<br><br>
          今回は、プレリリースという事でテスターとしてサービスを使っていただける方を募集しております。<br><br>
          これからの流れですが、<br>
          プレリリース期間<br>
          (お問い合わせより新規登録を受け付けます)<br>
          ※都合上カード制作アカウントの新規登録受付をやめる場合がありますがご了承ください。<br>
          ※視聴用アカウントは自由に登録できます<br>
          ↓<br>
          このサービスを続けて提供出来る事を目的として、広告などでの収益化、改良を加えた上で<br>
          正式サービス開始します<br>
          (プレリリース時で配布した物はそのままダウンロードできるようにする予定です)
          <br>
          <br>
          <%= link_to  "お問い合わせ", contact_path %>
          より新規登録できます。<br>
          よろしくお願いいたします。<br>
          </p>
        </div>
      </div>
    </section>
  </div>
</main>