<main>
  <div class="jumbotron jumbotron-fluid d-none d-md-block" style="background-image:url(<%= asset_path 'side-jumbotron.png' %>); height: 550px; background-position: center;">
    <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
      <h1>利用方法</h1>
    </div>
  </div>
  <div class="d-md-none" style="padding-top: 100px;">
    <div class="container">
      <h1 style="font-size: 40px;">利用方法</h1>
    </div>
  </div>
  <div class="container">
    <section>
      <div class="text-center">
        <h2>カードを貰った場合</h2>
      </div>
      <h3>ログインします</h3>
    </section>
  </div>
</main>