<main>
  <div class="jumbotron jumbotron-fluid d-none d-md-block" style="background-image:url(<%= asset_path 'side-jumbotron.png' %>); height: 550px; background-position: center;">
    <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
      <h1>利用方法-カードを貰った</h1>
    </div>
  </div>
  <div class="d-md-none mb-5" style="padding-top: 100px;">
    <div class="container">
      <h1 style="font-size: 40px;">利用方法<br>カードを貰った</h1>
    </div>
  </div>
  <div class="container">
    <section>
      <div class="text-center mb-4">
        <h3>カードを貰った場合</h3>
      </div>
      <div class="row">
        <div class="col-md-1">
          <h3>1</h3>
        </div>
        <div class="col-md-4">
          <%= image_tag "use-card.jpg", class: "img-thumbnail", style: "object-fit: contain;" %>
        </div>
        <div class="col-md-7">
          <h4>カードを手元に用意します</h4>
          <p>カードに記載されているQRを読み取ります</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <h3>2</h3>
        </div>
        <div class="col-md-4">
          <%= image_tag "use-login.png", class: "img-thumbnail", style: "object-fit: contain;" %>
        </div>
        <div class="col-md-7">
          <h4>ログインを行います</h4>
          <p>初回の場合にはアカウントを作ります</p>
        </div>
      </div>
    </section>
  </div>
</main>