<main>
  <div class="container">
    <div class="text-center my-5">
      <h3>ダウンロードカードが作成されました！</h3>
      <p>下のリンクより、カードのデータを印刷することが出来ます。</p>
      <p>
      【印刷時のご注意】
      詳細設定にある倍率は、[100％]を設定してください。
      </p>
      <%if @card.format == 'F44A4-1'%>
        <%= link_to "印刷データはこちら", card_license_group_download_back_path(@card, @license_group), class: "btn btn-outline-primary mb-3", :target=>["_blank"] %>
      <%end%>
      <%if @card.format == 'F10A4-1'%>
        <%= link_to "表面はこちら", card_license_group_download_front_path(@card, @license_group), class: "btn btn-outline-primary mb-3", :target=>["_blank"] %>
        <%= link_to "裏面はこちら", card_license_group_download_back_path(@card, @license_group), class: "btn btn-outline-primary mb-3", :target=>["_blank"] %>
      <%end%>
      <p>また、カードの追加発行などは下の一覧画面より行えます。</p>
      <%= link_to "発行済みカード一覧へ", cards_path, class: "btn btn-outline-primary mb-3"%>
    </div>
  </div>
</main>