<main>
  <div class="container">
    <div class="text-center my-5">
      <h3>ダウンロードカードが作成されました！</h3>
      <p>自動的にダウンロードされます。<br>ダウンロードが自動的に開始しない場合この<%=link_to "リンク", card_license_group_download2_path(@card, @license_group)%>を押してください。</p>
      <p>今回使ったデザインを保存することが出来ます。<br>保存した場合次回作成時に使用することが出来ます。</p>
      <a href="content.html" class="btn btn-outline-primary mb-3">今回作ったデザインを保存する</a>
      <a href="content.html" class="btn btn-outline-primary mb-3">デザインを保存せず戻る</a>
      <%= link_to "トップに戻る", cards_path, class: "btn btn-outline-primary mb-3"%>
      <!-- <a href="content.html" class="btn btn-outline-primary mb-3">トップに戻る</a> -->
    </div>
  </div>
</main>