@import '~bootstrap-material-design/scss/bootstrap-material-design';

body{
  background-color: white;
  color: #333333;
}

body, input, textarea {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

h1,h2,h3 {
  font-weight: bolder;
  letter-spacing: .08em;
}