<main>
  <div class="container">
    <div class="text-center">
      <h2 class="my-3">カードに登録するコンテンツを選んでください</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <a href="<%=cards_new_music_path%>" class="btn btn-primary bmd-btn-fab" style="display: flex; margin: 0 auto; justify-content: center; align-items: center;">
            <i class="material-icons">music_note</i>
          </a>
          <h3 class="my-2">音楽や音声</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <a href="<%=new_card_path%>" class="btn btn-primary bmd-btn-fab" style="display: flex; margin: 0 auto; justify-content: center; align-items: center;">
            <i class="material-icons">grade</i>
          </a>
          <h3 class="my-2">その他のコンテンツ</h3>
        </div>
      </div>
    </div>
  </div>
</main>